<a href="https://colab.research.google.com/github/NastiiaZ/dpassignement/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db")

In [ ]:
[] # creating Vehicle table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS vehicle (vehicle_id integer primary key,
      reg_id text,
      manufacturer text,
      model text,
      color text,
      current_odometer integer,
      passng_capacity integer
      );''')

     print("Vehicle Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Vehicle Table created successfully

In [ ]:
[] #add records to vehicle table
r_set=my_conn.execute('''INSERT INTO `vehicle`
(`vehicle_id`, `reg_id`, `manufacturer`, `model`, `color`, `current_odometer`, `passng_capacity`) VALUES
( 1, '2001 ABC', 'Volvo', 'XC90', 'silver', 4, 4),
( 2, '2006 AFD', 'Kia', 'K7', 'black', 2, 4);''')

In [61]:
[] # creating driver table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS driver (driver_id integer primary key,
      nam text,
      lic_number text,
      language text,
      clear_num integer
      );''')

     print("driver Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

driver Table created successfully

In [41]:
[] # creating Game_Official table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS Game_Official (Game_Official_id integer primary key,
      city_id integer,
      cityname text,
      role text,
      language text
      );''')

     print("Game_Official Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Game_Official Table created successfully

In [42]:
[] #add records to Game_Official Table
r_set=my_conn.execute('''INSERT INTO `Game_Official`
(`Game_Official_id`, `city_id`, `cityname`, `role`, `language` ) VALUES
( 1, 78, 'Tokyo', 'athelete', 'japanese'),
( 2, 53, 'London', 'coach', 'english');''')

In [48]:
[] # creating Country table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS Country (Country_id integer primary key,
      name text,
      language text
      );''')

     print("Country Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Country Table created successfully

In [49]:
[] #add records to Country Table
r_set=my_conn.execute('''INSERT INTO `Country`
(`Country_id`, `name`, `language` ) VALUES
( 1, 'Japan', 'japanese'),
( 2, 'UK', 'english');''')

In [64]:
[] # creating trip table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS trip (trip_id integer primary key,
      bookingref text,
      tripstart time,
      tripfinish time
      );''')

     print("trip created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

trip created successfully

In [66]:
[] #add records to trip Table
r_set=my_conn.execute('''INSERT INTO `trip`
(`trip_id`, `bookingref`, `tripstart`, `tripfinish`) VALUES
( 1, 'GFY789', 7, 9),
( 2, 'GHR543', 8, 11);''')

In [105]:
[] # creating pickup table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS pickup (pickup_id integer primary key,
      adresat text,
      city text,
      loctype text
      );''')

     print("pickup Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

pickup Table created successfully

In [ ]:
[] #add records to trip Table
r_set=my_conn.execute('''INSERT INTO `pickup`
(`pickup_id`, `adresat`, `city`, `loctype`) VALUES
( 1, 'StRane', 'Busan', 'hotel'),
( 2, 'StShine', 'Seoul', 'motel');''')

In [107]:
[] # creating dropoff table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS dropoff (dropoff_id integer primary key,
      adresatt text,
      cityt text,
      loctypet text
      );''')

     print("dropoff Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

dropoff Table created successfully

In [ ]:
[] #add records to trip Table
r_set=my_conn.execute('''INSERT INTO `dropoff`
(`dropoff_id`, `adresatt`, `cityt`, `loctypet`) VALUES
( 1, 'StRane', 'Busan', 'hotel'),
( 2, 'StShine', 'Seoul', 'motel');''')