<a href="https://colab.research.google.com/github/NastiiaZ/dpassignement/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db")

In [5]:
[] # creating Vehicle table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS vehicle (vehicle_id integer primary key,
      reg_id text,
      manufacturer text,
      model text,
      color text,
      current_odometer integer,
      passng_capacity integer
      );''')

     print("Vehicle Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Vehicle Table created successfully

In [12]:
[] #add records to vehicle table
r_set=my_conn.execute('''INSERT INTO `vehicle`
(`vehicle_id`, `reg_id`, `manufacturer`, `model`, `color`, `current_odometer`, `passng_capacity`) VALUES
( 1, '2001 ABC', 'Volvo', 'XC90', 'silver', 4, 4),
( 2, '2006 AFD', 'Kia', 'K7', 'black', 2, 4);''')

In [29]:
[] # creating Driver table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS driver (driver_id integer primary key,
      name_ text,
      license_num text,
      language text,
      clearance_lvl integer
      );''')

     print("Driver Table created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Driver Table created successfully

In [ ]:
#add records to Driver table
r_set=my_conn.execute('''INSERT INTO `driver`
(`driver_id`, `name_`, `license_num`, `language`, `clearance_lvl`) VALUES
( 1, 'JinKim', 'BAKL', 'korean', 4),
( 2, 'Andrew', 'HJOP', 'english', 2);''')